.right {
  margin-top: 1.4rem;
}

.top {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.top button {
  display: none;
}

.profilePhoto {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.themeToggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.themeToggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.themeToggler span.active {
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}

.profile {
  display: flex;
  gap: 2rem;
  text-align: right;
}

/* ================= RECENT UPDATES ================ */
.recentUpdates {
  margin-top: 1rem;
}

.recentUpdates h2 {
  margin-bottom: 0.8rem;
}

.updates {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.updates:hover {
  box-shadow: none;
}

.update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* ================= SALES ANALYTICS ================ */
.salesAnalytics {
  margin-top: 2rem;
}

.salesAnalytics h2 {
  margin-bottom: 0.8rem;
}

.salesAnalytics .item {
  background: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.salesAnalytics .item:hover {
  box-shadow: none;
}

.salesAnalytics .item {
  display: flex;
  justify-content: space-between;
  /*align-items: start;*/
  align-items: flex-start;
  margin: 0;
  width: 100%;
}

.icon {
  padding: 0.6rem;
  color: var(--color-white);
  border-radius: 50%;
  background: var(--color-primary);
  display: flex;
}

.salesAnalytics .item.offline .icon {
  background: var(--color-danger);
}

.salesAnalytics .item.customers .icon {
  background: var(--color-success);
}

.salesAnalytics .add-product {
  background-color: transparent;
  border: 2px dashed var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  color: white;
}

.salesAnalytics .add-product:hover {
  background: var(--color-primary);
  color: white;
}

.salesAnalytics .add-product div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.salesAnalytics .add-product div h3 {
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }

  .top .themeToggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }

  .info {
    display: none;
  }

  .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }

  .top button span {
    font-size: 2rem;
  }
}